<html>
<body>
    <div class="contain">
      <ul class="ul_format">
        <li class="box">
          <div class="display" (click)="toggleBold()">B</div>
        </li>
        <li class="box">
          <div class="display" (click)="toggleItalic()">I</div>
        </li>
        <li class="box">
          <div class="display" (click)="toggleUnderline()">U</div>
        </li>
        <li class="box">
          <div class="display" (click)="headingh1()">H1</div>
        </li>
        <li class="box">
          <div class="display" (click)="justifyCenter()">Center</div>
        </li>
        <li class="box">
          <div class="display" (click)="justifyLeft()">Left</div>
        </li>
        <li class="box">
          <div class="display" (click)="justifyRight()">Right</div>
        </li>
        <li class="box">
          <div class="display" (click)="justifyFull()">Justify</div>
        </li>
        <li class="box">
          <div class="display" (click)="createLink()">Link</div>
        </li>
        <li class="box">
          <div class="display" (click)="indent()">Indent</div>
        </li>
      </ul>
    </div>
    <iframe class="adjust" id="editor" name="text-editor" src="app/components/text-editor/editable.htm"></iframe>
</body>
</html>
