.contain{
  padding-top:10px;
  padding-left: 10px;
  width: 900px;
  height: 800px;
}
.size{
  resize: both;
  overflow:hidden;
}
.adjust{
  height: 100%;
  width:100%
}
.ul_format{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.display{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
.box{
  border-right: 1px solid #bbb;
  float: left;
}
.image-tag{
  /*-webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #EEE;
      background: linear-gradient(to top, #FFF, #DDD);
      border: thin solid rgba(0,0,0, .5);
      border-radius: .25em;
      box-shadow: inset .25em .25em .25em rgba(255,255,255, .5), inset -.1em -.1em .1em rgba(0,0,0, 0.1);*/
      /*cursor: text;
      padding: .25em;*/
      background-color: red;
    }
